<%= form_with(model: [@post, comment], local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row d-flex justify-content-center">
  <div class="field mb-3 col-10">
    <%= form.text_area :content, class: "form-control", id: "exampleFormControlTextarea1", rows: '3' %>
  </div>
  
  </div>

  <%= form.hidden_field :post_id, value: @post.id %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= form.submit "Add comment", class: "btn btn-sm btn-primary" %>
  </div>
<% end %>