<div class="container-card">
  <div class="row border rounded shadow-sm h-md-250 position-relative justify-content-center overflow-hidden", style="height: auto; max-height: 500px;">
    
    <div class="col-sm-5 p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary"><%= post.user.name %></strong>
      <div class="mb-1 text-muted">
        Posted on: <%= post.created_at.strftime("%-d %b %Y" + ' at ' + "%H:%M") %>
      </div>
      <p class="card-text mb-auto"><%= post.message %></p>
      <%= link_to "#{pluralize(post.comments.count, "Comment")}", post %>
      <%= render 'post_likes/form', { post: post, post_like: post.post_likes.build } %>
    </div>
    
    <% if post.image.attached? %>
      <div class="col-6 d-none d-lg-block">
        <%= image_tag(post.image, class: "img-fluid", alt: "Responsive image")%>
      </div>
    <% end %>
  </div>
</div>
