<h1> Edit Post </h1>

<div class='container card post' style="width: 50rem;">
  <span class="p-3">
    <%= form_for @post do |form| %>
      <%= form.label :message %>

      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
      <%= form.text_field :message, value: @post.message %> </textarea>

      <%= form.label :image %>
      <%= form.file_field :image, class: "post-image", id: "post-image", accept: "image/png, image/jpeg" %>
      <%= link_to "Delete image", purge_image_post_path(@post), method: :delete %>
      <%= form.submit "Submit" %>
    <% end %>
 </span>
</div>
  



