<h1> Editing Post Page </h1>

<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message, value: @post.message %>
  <%= form.label :image %>
  <%= form.file_field :image, class: "post-image", id: "post-image", accept: "image/png, image/jpeg" %>
  <%= link_to "Delete image", purge_image_post_path(@post), method: :delete %>
  <%= form.submit "Submit" %>
<% end %>




