<% if @user %>
    <!-- HERE we wanna see everything when user is logged in-->
    Logged in as: <%= @user.email %><br>
  <%= button_to logout_path, method: :delete do %>
    Log out
  <% end %>  
<% end %>

<% if !session['user_id'] %>
  <!-- HERE we wanna see everything when user is logged out-->
  <%= button_to sign_up_path, method: :get do %>
    Sign up
  <% end %>
  <%= button_to login_path, method: :get do %>
    Log in
  <% end %>
<% end %>

<% @posts.each do |post| %>
  <p><%= post.message %></p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>



