<% if @user %>
    <!-- HERE we wanna see everything when user is logged in-->
    Logged in as: <%= @user.email %><br>
  <%= button_to logout_path, method: :delete do %>
    Log out
  <% end %>  
<% end %>

<% if !session['user_id'] %>
  <!-- HERE we wanna see everything when user is logged out-->
  <%= button_to sign_up_path, method: :get do %>
    Sign up
  <% end %>
  <%= button_to login_path, method: :get do %>
    Log in
  <% end %>
<% end %>

<div class='enter-post'>    
  <%= form_for @post do |form| %>
    <%= form.label :image %>
    <%= form.file_field :image, class: "post-image", id: "post-image", accept: "image/png, image/jpeg" %>
    <%= form.label :message %>
    <%= form.hidden_field :user_id, value: session['user_id'] %>
    <%= form.text_field :message, placeholder: "What's on your mind?" %>
    <%= form.submit "Submit" %>
  <% end %>
</div>

<% @posts.each_with_index do |post, index| %>
  <%= link_to post do %>
    <div class='post'>
      <p class='post-user'><%= post.user.name if post.user %></p>
      <p class='post-user' id="post-user-<%= index %>" ><%= "Namey McNamerson" unless post.user %></p>
      <p class='post-time' id="post-time-<%= index %>" ><%= post.created_at.strftime("%-d %b %Y" + ' at ' + "%H:%M") %></p>
      <%= image_tag(post.image, id: "post-image-#{index}") %>
      <p class='post-message', id="post-message-<%= index %>"><%= post.message %></p>
    </div>
  <% end %>
<% end %>
