<div class="container text-center">
  <h1> Main Feed </h1>
  <div class="row justify-content-center">
    <div class="col-5">
      <%= form_for @post do |form| %>
        <%= form.text_area :message, class: 'form-control form-control-lg', id: "exampleFormControlTextarea1", rows: '3', placeholder: "What's on your mind?" %>
        <div class="col-sm-5">
          <%= form.file_field :image, class: "form-control form-control-sm post-image-form", id: "formFileSm", type: "file", accept: "image/png, image/jpeg" %>
        </div>
        <%= form.submit "Submit", class: "btn btn-outline-primary mb-10" %>
      <% end %>
    </div>
  </div>
  <br>
  <% @posts.each_with_index do |post, index| %>
    <div class="post">
      <div class="row justify-content-center">
        <div class="col-8 bg-white">
          <%= render post %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-5 overflow-auto mb-5" style='background-color: rgb(236, 235, 242); height: auto; max-height: 250px;'>
          <%= 'no comments' unless post.comments.any? %>
          <%= render post.comments.order('created_at DESC') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
