<h1> Main Feed </h1>

<div class='container card' style="width: 50rem;">
  <div class='new_post'>
    <div class='enter-post'>
      <%= form_for @post do |form| %>
        <%= form.text_field :message, placeholder: "What's on your mind?" %>
        <br>
        <%= form.label :image %>
        <br>
        <%= form.file_field :image, class: "post-image-form", id: "post-image-form", accept: "image/png, image/jpeg" %>
        <br>
        <%= form.submit "Submit" %>
      <% end %>
    </div>
  </div>
</div>

<br>

<% @posts.each_with_index do |post, index| %>
  <div class="index-post>
    <%= link_to post do %>
      <%= render post %>
    <% end %>
    <%= link_to "#{pluralize(post.comments.count, "Comment")}", post %>
    <%= render 'post_likes/form', { post: post, post_like: post.post_likes.build } %>
  </div>
<% end %>

