<% if @user %>
    <!-- HERE we wanna see everything when user is logged in-->
    Logged in as: <%= @user.email %><br>
  <%= button_to logout_path, method: :delete do %>
    Log out
  <% end %>  
<% end %>

<% if !session['user_id'] %>
  <!-- HERE we wanna see everything when user is logged out-->
  <%= button_to sign_up_path, method: :get do %>
    Sign up
  <% end %>
  <%= button_to login_path, method: :get do %>
    Log in
  <% end %>
<% end %>

<div class='enter-post'>    
  <%= form_for @post do |form| %>
    <%= form.label :message %>
    <%= form.hidden_field :user_id, value: session['user_id'] %>
    <%= form.text_field :message, placeholder: "What's on your mind?" %>
    <%= form.submit "Submit" %>
  <% end %>
</div>

<% @posts.each do |post| %>
  <%= link_to post do %>
    <div class='post'>
      <p class='post-user'><%= post.user.name if post.user %></p>
      <p class='post-user'><%= "Namey McNamerson" unless post.user %></p>
      <p class='post-time'><%= post.created_at.strftime("%-d %b %Y" + ' at ' + "%H:%M") %></p>
      <p class='post-message'><%= post.message %></p>
    </div>
  <% end %>
<% end %>




<!-- inside app/views/welcome/index.html.erb -->  
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Album example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>
</main>
