<div class='enter-post'>    
  <%= form_for @post do |form| %>
    <%= form.label :message %>

    <%= form.text_field :message, placeholder: "What's on your mind?" %>
    <%= form.submit "Submit" %>
  <% end %>
</div>

<% @posts.each do |post| %>
  <div class='post'>
    <%= link_to post do %>
      <%= render post %>
    <% end %>
    <%= link_to "#{pluralize(post.comments.count, "Comment")}", post %>
    <%= render 'post_likes/form', { post: post, post_like: post.post_likes.build } %>
  </div>
<% end %>
