<div class='enter-post'>    
  <%= form_for @post do |form| %>
    <%= form.label :message %>

    <%= form.text_field :message, placeholder: "What's on your mind?" %>
    <%= form.submit "Submit" %>
  <% end %>
</div>

<% @posts.each do |post| %>
  <%= link_to post do %>
    <div class='post'>
      <p class='post-user'><%= post.user.name if post.user %></p>
      <p class='post-user'><%= "Namey McNamerson" unless post.user %></p>
      <p class='post-time'><%= post.created_at.strftime("%-d %b %Y" + ' at ' + "%H:%M") %></p>
      <p class='post-message'><%= post.message %></p>
    </div>
  <% end %>
<% end %>


