<h1> Show </h1>

  <br>

  <div class='container card' style="width: 50rem;">
    <span class="p-3">
      <div class="post-body">
        <h5 class="post-title"><%= current_user.name %></h5>
        <p class="post-text"><small class="text-muted">Posted on: <%= @post.created_at.strftime("%-d %b %Y" + ' at ' + "%H:%M") %> </small></p>
        <p class="post-text"><%= @post.message %></p>
        <%= link_to 'Delete', @post, data: { confirm: "Are you sure?" }, :method => :delete %>
        <%= link_to 'Edit', edit_post_path %>
      </div>
    </span>
  </div>


